.tlt-hero {
    height: 682px;
    position: relative;
    &>figure {
        position: absolute;
        top:0;
        overflow: hidden;
        &>img {
            max-width: 100%;
        }   
    }
    &>h1 {
        font-family: 'Oswald', sans-serif;
        font-size:  83.13px;
        color:white;
    }
}