@import 'blade-helpers.scss';

.tlt-blade {
    
    $rect-height: 500px;
            
    height: $rect-height + $blade-triangle-height;    
    position: relative;
    &>div {
        margin:0 auto 0 auto;
        align-items: center;        
        height: $rect-height;
        width: 543px;
        @include flex-stack();
        align-content: center;
        &>h1 {
            font-size: 50.59px;            
        }    
    }
    
    &>figure {
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        &>img {
            height: 100%;
        }
    }
    
    &.theme-dark {
        &>div {
            margin-right: $page-padding;
        }
        
        &>svg {
            @include blade-triangle(dark, down);
        } 
        
        &>figure {
            left: 0;
            &>img {
                float: left;
            }
        }
    }
    &.theme-light {
        &>div {
            margin-left: $page-padding;
        }
        &>svg {
            @include blade-triangle(light, up);
        } 
        
        &>figure {
            right: 0;
            &>img {
                float: right;
            }
        }
    }
}