@import 'blade-helpers.scss';

.tlt-blade {
    
    $rect-height: 500px;
            
    height: $rect-height + $blade-triangle-height;    
    position: relative;
    &>div {
        margin:0 auto 0 auto;
        align-items: center;        
        height: $rect-height;
        width: 543px;
        @include flex-stack();
        align-content: center;
        &>h1 {
            font-size: 50.59px;            
        }    
    }
    
    &.theme-dark {
        &>div {
            margin-right: $page-padding;
        }
        
        &>svg {
            @include blade-triangle(dark, down);
        } 
    }
    &.theme-light {
        &>div {
            margin-left: $page-padding;
        }
        &>svg {
            @include blade-triangle(light, up);
        } 
    }
}