$blade-triangle-height: 50px;

@mixin blade-triangle($theme, $slant) {

    // Things that are common to all themes
    position: absolute;
    left:0;
    top:0;
    width: 100%;
    height: $blade-triangle-height;

    // Variables that differ per team    
    $fill: null;    
    @if $theme == dark {
        $fill: $dark-theme-background-color;
    } @else {
        $fill: $light-theme-background-color;
    }
    
    $bladeScaleX: null;
    @if $slant == up {
        $bladeScaleX: -1;
    } @else {
        $bladeScaleX: 1;
    }
     

    // Putting the variables into the css
    transform: translateY(-100%) scaleX($bladeScaleX);
    &>polygon {
        fill: $fill;    
    }
}  