.tlt-paragraph-image-gallery-section {
    &>div {
        display: flex;
        @include add-horizontal-space-between-children(20px);
        height: 270px;
        figure {
            height: 100%;
            flex-grow: 1;
        }
    }
}