.tlt-paragraph-image-section {
    $height-of-leading-image: 270px;
    margin-top: 20px;
    position: relative;
    min-height: $height-of-leading-image;
    &>figure {
        margin: 0 0 20px 20px;
        float: right;
        width: 400px;
        height: $height-of-leading-image;
    }
    &+* {
        clear:both;
    }
    &+.tlt-paragraph-image-section {
        &>figure {
            float: left;
            margin:0 20px 20px 0;
        }
    }
}