.theme-dark {
    background-color: #372b3e;
    color:white;
}

.link-button {
    background-color: #aedc71;
    height: 55px;
    line-height: 55px;
    width: 264px;
    color:black;    
    font-size: 25.17px;
    
    text-align: center;
}

a {
    font-size: 25.17px;
    text-transform: uppercase;
}

figure {
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;    
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin: 0;
}


