@import "helpers.scss";

body {
    margin:0;
}

.theme-dark {
    background-color: $dark-theme-background-color;
    color:white;
}

a {
    font-size: 25.17px;
    text-transform: uppercase;
    text-decoration: none;
    color: currentColor;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }
    
    &.link-button {
        background-color: #aedc71;
        height: $link-button-height;
        line-height: $link-button-height;
        width: 264px;
        color:black;    
        font-size: 25.17px;
        display: block;
        text-align: center;
    }
}

h1, h2, h3, h4, h5, h6, a {
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;    
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin: 0;
}

p + .link-button {
    margin-top: 20px;
}


