@import "helpers.scss";

body {
    margin:0;
}

.theme-dark {
    background-color: $dark-theme-background-color;
    color:white;
}

@mixin linkStyle() {
    font-size: 25.17px;
    text-transform: uppercase;
    text-decoration: none;
    color: currentColor;
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }    
}

@mixin linkButtonStyle() {
    @include linkStyle();
        
    background-color: #aedc71;
    height: $link-button-height;
    line-height: $link-button-height;
    width: 264px;
    color:black;    
    font-size: 25.17px;
    display: block;
    text-align: center;
}

a {
    @include linkStyle();
    
    &.link-button {
        @include linkButtonStyle();
    }
}

h1, h2, h3, h4, h5, h6, a, input[type="submit"], thead {
    margin:0;
    font-family: 'Oswald', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;    
}

@mixin paragraphStyle() {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;    
}

p, label, tbody {
    @include paragraphStyle();
}

p>a {
    @include paragraphStyle();
    text-decoration: underline;
    text-transform: capitalize;
}

p + .link-button {
    margin-top: 20px;
}

figure {
    margin: 0;
}

form {
    width: 300px;
    &>label {
        &>:first-child {
            display: block;
            width: 100%;
        }
        display: block;
        margin-bottom: 15px;   
    }
    &>input[type="submit"] {
        @include linkButtonStyle();
        border:none;
        width: 100%;
    }
}