.page-template-level-three {    
    @include add-space-between-children(40px);
    &>section{
        &+section {
            &+section{
                &>div {
                    display: flex;
                    @include add-horizontal-space-between-children(20px);
                    height: 270px;
                    figure {
                        height: 100%;
                        flex-grow: 1;
                    }
                }
            }
        }        
    }
}