.view-about {
    &>section {        
        margin-top: 20px;
        position: relative;
        &>figure {
            float: right;
            width: 400px;
            height: 270px;
        }
        &+* {
            clear:both;
        }
    }
}