.tlt-header {
    $header-height: 50px;
    
    @include children-inline-block();
    background:white;
    border-bottom: 1px solid $foreground-color;
    height: $header-height - 1px;
    display: inline-flex;
    align-items: center;
    width: 100%;
    
    &>a {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        &>figure {
            margin: 4px;
            height: 40px;
            width: 40px;
        }
        &>h1 {
            margin-left: 10px;
            color:black;
            text-decoration: none;
        }        
    }

    &>ul {
        @include add-horizontal-space-between-children(20px);
        &>li {            
            display: inline;
            text-transform: capitalize;
            position: relative;
            cursor: pointer;
            &>ul {
                background:white;
                outline:1px solid black;
                position: absolute;
                top:100%;
                min-width: 100%;
                left:0;
                padding:0;
                list-style: none;
                &>li {
                    &>a {
                        height: $header-height;
                        display: flex;
                        align-items: center;
                        padding-left: 4px;
                        padding-right: 4px;
                        text-decoration: none;  
                        color:black;  
                    }
                }                
                &[aria-hidden="true"] {
                    display: none;    
                }
                
            }
        }
        flex-shrink: 0;
    }
    &>div {            
        height: $header-height - 1; 
        display: flex;
        align-items: center;
        background: white;
        border-bottom: 1px solid black;
        position: fixed;
        z-index: 1;
        top:0;
        right:0;         
        &>a {
            text-decoration: underline;            
        }            
        &>button {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    &:not(.scrolled) {
        &>div {
            @include add-horizontal-space-between-children(20px);
        }
    }
    &.scrolled {
        &>div {
            &>a {
                display: none;
            }
            border-left: 1px solid black;    
        }
    }
}