<header 
    class="tlt-header"
    ng-class="{ 'scrolled' : isScrolled }"
>
    <a href="/#/">
        <figure>
            <div></div>
        </figure>
        <h1>ACJS</h1>
    </a>
    <ul role="menubar">
        <li 
            ng-repeat="item in items"
            role="menuitem"
            aria-haspopup="true"
        >
            <a ng-href="{{item.link}}">
                {{item.title}}           
            </a>
            <ul
                ng-if="item.items"
                role="menu"
            >
                <li 
                    ng-repeat="item in item.items"
                    role="menuitem"
                >
                    <a ng-href="{{item.link}}">{{item.title}}</a>                    
                </li>                
            </ul>
        </li>
    </ul>
    <div>
        <a ng-if="!isSignedIn" href="/#/current-families">Sign in</a>         
        <button ng-click="onCallToActionClick()">{{callToAction}}</button>
    </div>
</header>