.tlt-header {
    $header-height: 50px;
    
    @include children-inline-block();
    background:white;
    border-bottom: 1px solid $foreground-color;
    height: $header-height - 1px;
    display: inline-flex;
    align-items: center;
    width: 100%;
    
    &>figure {
        margin: 4px;
        height: 40px;
        width: 40px;
        background-image: url('/images/placeholder.png');
        background-size: 100% 100%;
        flex-shrink: 0;
    }
    &>h1 {
        margin-left: 10px;
        flex-shrink: 0;
    }
    &>ul {
        @include add-horizontal-space-between-children(20px);
        &>li {
            display: inline;
        }
        flex-shrink: 0;
    }
    &>div {            
        height: $header-height - 1; 
        display: flex;
        align-items: center;
        background: white;
        border-bottom: 1px solid black;
        position: fixed;
        top:0;
        right:0;
         @include add-horizontal-space-between-children(20px);
        &>a {
            text-decoration: underline;            
        }            
        &>button {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    
    &.scrolled {
        &>div {
            &>a {
                display: none;
            }
            border-left: 1px solid black;    
        }
    }
}