<header 
    class="tlt-header theme-dark"
    ng-class="{ 'scrolled' : isScrolled }"
>
    <a href="/#/">
        <figure>
            <img src="/images/logo.png"/>
        </figure>
    </a>
    <ul>
        <li ng-repeat="item in items">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
    </ul>
    <a>parents portal</a>
    <div>        
        <a
            class="link-button" 
            ng-click="onCallToActionClick()"
        >{{callToAction}}</a>
    </div>
</header>