<header 
    class="tlt-header"
    ng-class="{ 'scrolled' : isScrolled }"
>
    <figure>
    </figure>
    <h1>ACJS</h1>
    <ul role="menubar">
        <li 
            ng-repeat="item in items"
            ng-click="onClick(item)"
            role="menuitem"
            aria-haspopup="true"
            >
            {{item.title}}            
            <ul
                aria-hidden="{{item.isHidden}}"
                ng-if="item.items"
                role="menu"
            >
                <li 
                    ng-repeat="item in item.items"
                    role="menuitem"                    
                    
                >
                    <a ng-href="{{item.link}}">{{item.title}}</a>                    
                </li>                
            </ul>
        </li>
    </ul>
    <div>
        <a>Sign in</a> 
        <button>Schedule Tour</button>
    </div>
</header>