@import "../../styles/helpers.scss";

.tlt-header {
    $header-height: 128px;
    $header-margin : 19px;
    
    $header-cta-z-index : 1;
    
    height: $header-height;
    display: flex;
    align-items: center;
    
    >:nth-child(1) {
        margin-left:$header-margin;
    }

    >:nth-child(2) {
        @include add-horizontal-space-between-children(32px);
        margin:0;        
        &>li {
            display: inline;  
        }
    }
    
    >:nth-child(3) {
        font-size: 21.32px;
        position: absolute;
        right:0;
        margin-right: $header-margin;
        z-index: $header-cta-z-index + 1;
    }    
    
    $header-cta-nudge: (($header-height - $link-button-height) / 2) - $header-margin;
    
    >:nth-child(4) {
        position: fixed;        
        top:0;
        right:0;
        z-index: $header-cta-z-index;
                
        height: $link-button-height + (2 * $header-margin) + $header-cta-nudge;
        transform: translateY(0); 
        
        display: flex;
        align-items: center;
        
        transition: $transition-standard;
        background-color:inherit;
        
        
        &>a {
            margin-top: $header-cta-nudge;
            margin-right: $header-margin;
            margin-left: $header-margin;
            transition: $transition-standard;
        }
    }

    &.scrolled {
        >:nth-child(4) {            
            transform: translateY(-$header-cta-nudge);
            border-bottom-left-radius: 2 * $header-margin;
            &>a {
                border-bottom-left-radius: $header-margin;
            }
        }
    }
}