@import '../../styles/helpers.scss';
@import '../blade/blade-helpers.scss';

.tlt-footer {
    width:100%;
    position: relative;    
    text-align: center;
    display: flex;
    align-items: center;
    align-content: center;
    @include flex-stack();
    
    &>div {
        margin: 20px 0;
        display: flex;
        &>p {
            flex-basis: 33.33%;
        }
    }
}

:not(.tlt-blade)+.tlt-footer {
    &>svg {
        display: none;
    }
}
.tlt-blade+.tlt-footer {
    &>svg {
        @include blade-triangle(dark, down);
    } 
}