@import '../../styles/helpers.scss';
@import '../blade/blade-helpers.scss';

.tlt-footer {
    height: 222px;
    width:100%;
    position: relative;    
    text-align: center;
    
    &.theme-dark {   
        &>svg {
            @include blade-triangle(dark);
        } 
    }
}