// Move to colors.scss
$background-color: #EEEEEE;
$foreground-color: #262626;
$background-accent-color : #666666;

// Move to styles.scss
body {
    background: $background-color;
    color:$foreground-color;
}

button {
    border: none;
    background: $background-accent-color;
    color:$background-color;
    outline: 2px solid $foreground-color;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25em;  
}

h1 {
    margin:0;
}

// Move to helpers.scss
@mixin add-space-between-children($amount) {
    &>*:not(:first-child) {
        margin-top:#{$amount};
    }
}

@mixin flex-stack() {
    &>* {
        flex-basis: 100%;
    }
}

.view-home {
    font-family: sans-serif;
    
    &>section {
        margin-left: 20px;
        margin-right: 20px;
    }
    
    @include add-space-between-children(40px);
    
    .module-image-quote-cta {
        display: flex;
        height: 400px;
        
        &>figure {
            flex-basis: 60%;
            background-image: url('/images/placeholder.png');
            background-size: 100% 100%;
            margin:0;
        }
        
        &>div {
            padding: 50px;
            flex-basis: 40%;
            display: flex;
            align-content: center;
            align-items: center;
            flex-wrap: wrap;
            @include add-space-between-children(20px);
            @include flex-stack();
            &>q, &>h1 {
                font-size: 3em;
                font-weight: lighter;
            }
        }
        
        &:nth-child(odd) {
            &>figure {
                order:2;
            }
            &>div {
                order:1;
            }
        }
    }
}