// Move to colors.scss
$background-color: #EEEEEE;
$foreground-color: #262626;
$background-accent-color : #666666;

// Move to styles.scss
button {
    border: none;
    background: $background-accent-color;
    color:$background-color;
    outline: 2px solid $foreground-color;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.25em;  
}

h1 {
    margin:0;
}

figure {
    background-image: url('/images/placeholder.png');
    background-size: 100% 100%;
}

// Move to helpers.scss
@mixin add-space-between-children($amount) {
    &>*:not(:first-child) {
        margin-top:#{$amount};
    }
}
@mixin add-horizontal-space-between-children($amount) {
    &>*:not(:first-child) {
        margin-left:#{$amount};
    }
}

@mixin flex-stack() {
    flex-wrap: wrap;
    &>* {
        flex-basis: 100%;
    }
}

@mixin children-inline-block() {
    &>* {
        display: inline-block;
    }
}

body {
    background: $background-color;
    color:$foreground-color;
}


body {
    margin:0;
    background: $background-color;
    color:$foreground-color;    
    font-family: sans-serif;
}

@import "modules/selling-point/selling-point.scss";
@import "modules/header/header.scss";
@import "modules/footer/footer.scss";
@import "views/home/home.scss";