@import "../../../../../styles/helpers.scss";

.tlt-level-1-section {    
    padding-left: $page-padding;
    padding-right: $page-padding;
    
    &>figure {
      float: right;        
      margin-left:55px;
      &>img {
          height: 272px;
      }
    }
     
    &>h1 {
        font-size:  48px;
    }
    
    &>a {
        margin-top: 15px;
        display: block;
    }
    
    &::after { 
        content: "";
        display: block; 
        clear: both;
    }
}